In [15]:
##### Criando um dataset com valores faltantes #####

#Criando um dicionário com os dados
dados = {'Peça':['A','B','C','D','E'], 
         'Tempo_producao':[2.0, None, 3.0, None, 4.0],
         'Custo_producao':[3.0, 3.5, None, 4.8, 5.2]}
         
# Criando data frame a partir do dicionário
import pandas as pd

df = pd.DataFrame(dados)

df

  Peça  Tempo_producao  Custo_producao
0    A             2.0             3.0
1    B             NaN             3.5
2    C             3.0             NaN
3    D             NaN             4.8
4    E             4.0             5.2

In [17]:
media_tempo_producao = df['Tempo_producao'].mean()

# 1) Preenchendo os NaNs com a média

df['Tempo_producao'].fillna(media_tempo_producao, inplace = True)

df

  Peça  Tempo_producao  Custo_producao
0    A             2.0             3.0
1    B             3.0             3.5
2    C             3.0             NaN
3    D             3.0             4.8
4    E             4.0             5.2

In [12]:
dados_2 = {'Turma':['Enpro5','Enpro7','Enpro7','Enpro7',None]}

import pandas as pd

dados_2_df = pd.DataFrame(dados_2)

dados_2_df

    Turma
0  Enpro5
1  Enpro7
2  Enpro7
3  Enpro7
4    None

In [18]:
moda_turma = dados_2_df['Turma'].mode()[0] # [0] pega a primeira moda

# 2) Preenchendo os NaNs com a moda > variáveis qualitativas

dados_2_df['Turma'].fillna(moda_turma, inplace = True)

dados_2_df

    Turma
0  Enpro5
1  Enpro7
2  Enpro7
3  Enpro7
4  Enpro7

In [21]:
#Criando um dicionário com os dados
dados_3 = {'Peça':['A','B','C','D','E'], 
         'Tempo_producao':[2.0, None, 3.0, None, 4.0]}

# Criando data frame a partir do dicionário
import pandas as pd

dados_3_df = pd.DataFrame(dados_3)

dados_3_df

  Peça  Tempo_producao
0    A             2.0
1    B             NaN
2    C             3.0
3    D             NaN
4    E             4.0

In [20]:

# 3) Remoção dos dados faltantes > Não é muito usual

dados_3_df_sem_na = dados_3_df.dropna()

dados_3_df_sem_na

  Peça  Tempo_producao
0    A             2.0
2    C             3.0
4    E             4.0

In [24]:
#Criando um dicionário com os dados
dados = {'Peça':['A','B','C','D','E'], 
         'Tempo_producao':[2.0, None, 3.0, None, 4.0],
         'Custo_producao':[3.0, 3.5, None, 4.8, 5.2]}
         
# Criando data frame a partir do dicionário
import pandas as pd

df = pd.DataFrame(dados)

df.isna().sum() #verifica se é NA e se for, realiza a soma. Para ver quantos dados faltantes tem

Peça              0
Tempo_producao    2
Custo_producao    1
dtype: int64