#### Abrindo o arquivo .csv
Este código serve para abrir o arquivo.

In [1]:
# Carregando o pandas e abreviando ele para (pd)
import pandas as pd 

# Importando os dados
dados = pd.read_csv("C:/Users/20221enpro0081/Downloads/questionario.csv", sep = ";", decimal = ",")
# Como o arquivo está em csv tem que dizer quem é o separador de colunas e quem é o separador de decimal 
#(pode abrir como texto para ver isso)

# Mostrando os dados
dados

,Id,Turma,Sexo,Idade,Alt,Peso,Filhos,Fuma,Toler,Exerc,Cine,OpCine,TV,OpTV
0,1,A,F,17,1.60,60.5,2,NAO,P,0,1,B,16,R
1,2,A,F,18,1.69,55.0,1,NAO,M,0,1,B,7,R
2,3,A,M,18,1.85,72.8,2,NAO,P,5,2,M,15,R
3,4,A,M,25,1.85,80.9,2,NAO,P,5,2,B,20,R
4,5,A,F,19,1.58,55.0,1,NAO,M,2,2,B,5,R
5,6,A,M,19,1.76,60.0,3,NAO,M,2,1,B,2,R
6,7,A,F,20,1.60,58.0,1,NAO,P,3,1,B,7,R
7,8,A,F,18,1.64,47.0,1,SIM,I,2,2,M,10,R
8,9,A,F,18,1.62,57.8,3,NAO,M,3,3,M,12,R
9,10,A,F,17,1.64,58.0,2,NAO,M,2,2,M,10,R
10,11,A,F,18,1.72,70.0,1,SIM,I,10,2,B,8,N
11,12,A,F,18,1.66,54.0,3,NAO,M,0,2,B,0,R
12,13,A,F,21,1.70,58.0,2,NAO,M,6,1,M,30,R
13,14,A,M,19,1.78,68.5,1,SIM,I,5,1,M,2,N
14,15,A,F,18,1.65,63.5,1,NAO,I,4,1,B,10,R
15,16,A,F,19,1.63,47.4,3,NAO,P,0,1,B,18,R
16,17,A,F,17,1.82,66.0,1,NAO,P,3,1,B,10,N
17,18,A,M,18,1.80,85.2,2,NAO,P,3,4,B,10,R
18,19,A,F,20,1.60,54.5,1,NAO,P,3,2,B,5,R
19,20,A,F,18,1.68,52.5,3,NAO,M,7,2,B,14,M
20,21,A,F,21,1.70,60.0,2,NAO,P,8,2,B,5,R
21,22,A,F,18,1.65,58.5,1,NAO,M,0,3,B,5,R
22,23,A,F,18,1.57,49.2,1,SIM,I,5,4,B,10,R
23,24,A,F,20,1.55,48.0,1,SIM,I,0,1,M,28,R
24,25,A,F,20,1.69,51.6,2,NAO,P,8,5,M,4,N
25,26,A,F,19,1.54,57.0,2,NAO,I,6,2,B,5,R
26,27,B,F,23,1.62,63.0,2,NAO,M,8,2,M,5,R
27,28,B,F,18,1.62,52.0,1,NAO,P,1,1,M,10,R
28,29,B,F,18,1.57,49.0,2,NAO,P,3,1,B,12,R
29,30,B,F,25,1.65,59.0,4,NAO,M,1,2,M,2,R
30,31,B,F,18,1.61,52.0,1,NAO,P,2,2,M,6,N
31,32,B,M,17,1.71,73.0,1,NAO,P,1,1,B,20,R
32,33,B,F,17,1.65,56.0,3,NAO,M,2,1,B,14,R
33,34,B,F,17,1.67,58.0,1,NAO,M,4,2,B,10,R
34,35,B,M,18,1.73,87.0,1,NAO,M,7,1,B,25,B
35,36,B,F,18,1.60,47.0,1,NAO,P,5,1,M,14,R
36,37,B,M,17,1.70,95.0,1,NAO,P,10,2,M,12,N
37,38,B,M,21,1.85,84.0,1,SIM,I,6,4,B,10,R
38,39,B,F,18,1.70,60.0,1,NAO,P,5,2,B,12,R
39,40,B,M,18,1.73,73.0,1,NAO,M,4,1,B,2,R
40,41,B,F,17,1.70,55.0,1,NAO,I,5,4,B,10,B
41,42,B,F,23,1.45,44.0,2,NAO,M,2,2,B,25,R
42,43,B,M,24,1.76,75.0,2,NAO,I,7,0,M,14,N
43,44,B,F,18,1.68,55.0,1,NAO,P,5,1,B,8,R
44,45,B,F,18,1.55,49.0,1,NAO,M,0,1,M,10,R
45,46,B,F,19,1.70,50.0,7,NAO,M,0,1,B,8,R
46,47,B,F,19,1.55,54.5,2,NAO,M,4,3,B,3,R
47,48,B,F,18,1.60,50.0,1,NAO,P,2,1,B,5,R
48,49,B,M,17,1.80,71.0,1,NAO,P,7,0,M,14,R
49,50,B,M,18,1.83,86.0,1,NAO,P,7,0,M,20,B

### 1. Checagem inicial

In [2]:
# Quantas observações tem o conjunto de dados
len(dados)

50

In [3]:
# Quais os tipos dos dados?
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      50 non-null     int64
 1   Turma   50 non-null     object
 2   Sexo    50 non-null     object
 3   Idade   50 non-null     int64
 4   Alt     50 non-null     float64
 5   Peso    50 non-null     float64
 6   Filhos  50 non-null     int64
 7   Fuma    50 non-null     object
 8   Toler   50 non-null     object
 9   Exerc   50 non-null     int64
 10  Cine    50 non-null     int64
 11  OpCine  50 non-null     object
 12  TV      50 non-null     int64
 13  OpTV    50 non-null     object
dtypes: float64(2), int64(6), object(6)
memory usage: 5.6+ KB

In [5]:
# Estatísticas descritivas para variáveis numéricas

dados.describe()

,Id,Idade,Alt,Peso,Filhos,Exerc,Cine,TV
count,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,25.50000,18.900000,1.672000,60.928000,1.700000,3.800000,1.740000,10.780000
std,14.57738,2.032893,0.090599,12.179089,1.092647,2.770103,1.084398,6.890662
min,1.00000,17.000000,1.450000,44.000000,1.000000,0.000000,0.000000,0.000000
25%,13.25000,18.000000,1.602500,52.125000,1.000000,2.000000,1.000000,5.000000
50%,25.50000,18.000000,1.665000,58.000000,1.000000,3.500000,2.000000,10.000000
75%,37.75000,19.000000,1.717500,67.875000,2.000000,5.750000,2.000000,14.000000
max,50.00000,25.000000,1.850000,95.000000,7.000000,10.000000,5.000000,30.000000

### 2. Análise para uma variável categórica (qualitativa)

#### 2.1 Tabela de frequências

In [7]:
dados['Sexo'].value_counts()

Sexo
F    37
M    13
Name: count, dtype: int64